body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

/* Navigation Styles */
header {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

nav {
  font-size: 10px;
  display: flex; /* Use Flexbox for the navigation bar */
  justify-content: space-between;
  float: right;
  width: 60%;
}

nav ul {
  list-style-type: none;
  margin: 5;
  padding: 5;
  display: flex; /* Make the list items flex containers */
}

nav li {
  margin-right: 20px; /* Add some spacing between navigation items */
}

nav a {
  text-decoration: none;
  color: #000000;
}
nav ul {
	background-color: lightgrey;
}

main {
  padding: 0px;
}

.text-overlay {
  position: absolute;
  top: 37%;
  left: 27%;
  background-color : ;
  padding: 0px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 50%;
  text-align: center;
  z-index: 1;
}


nav {
  z-index: 1;
}

footer {
  z-index: 1;
}


section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive CSS */

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
  }
  nav ul {
    float: none;
    background-color: lightgrey;
  }
 .text-overlay {
	 
	 font-size: 40px;
 }
  main {
    padding: 10px;
  }
}
