/* Set font styles */
body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: #333;

}

h1, h2 {
    font-family: "Open Sans", Arial, sans-serif;
}

/* Set heading and paragraph styles */
h1 {
    text-align:center;
    font-size: 28px;
    color: #1e90ff; /* Royal Blue */
    margin: 0;

}

h2 {
    font-size: 24px;
    color: #FF5733; /* Deep Orange */
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Add some margin and padding */
article {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #999;
    border-radius: 8px;
    background-color: #f7f7f7;
}

/* Set link styles */
a {
    color: #0077b3;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
/* Styles for the Addendum section */
#section {
    color: #1e90ff; /* Text color for better contrast with the background image */
    padding: 20px;
    margin: 20px 0;
}

#section h2 {
    font-size: 24px;
    color: #FF5733; /* Text color for headings in the addendum */
    margin-top: 20px;
}

#section p {
    font-size: 18px;
    color: #555; /* Text color for paragraphs in the addendum */
    line-height: 1.6;
}
